<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/css/DA_About.css">
    <link rel="stylesheet" href="/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="/css/Live-Hours-of-Operation-1.css">
    <link rel="stylesheet" href="/css/Live-Hours-of-Operation.css">
    <link rel="stylesheet" href="/css/Map-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Pretty-Product-List.css">
    <link rel="stylesheet" href="/css/Product-Carousel-V11-1.css">
    <link rel="stylesheet" href="/css/Product-Carousel-V11.css">
    <link rel="stylesheet" href="/css/Simple-Slider.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Team-Clean.css">
    <link rel="stylesheet" href="/css/Testimonials.css">