<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="map-clean">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Bell Gardens</h2>
                            <p class="text-center">This location is found within the Tutti Frutti next to {} and {}</p>
                        </div>
                    </div>
                    <div class="container demo-bg">
                        <div class="row">
                            <div class="col-sm-8">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.9205538251367!2d-118.16812588447334!3d33.968881429565336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2cfca540c0cf5%3A0xd0bafe12e51d41b8!2sCrepes%20n%20Shakes!5e0!3m2!1sen!2sus!4v1607544220047!5m2!1sen!2sus"
                                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                            <div class="col-sm-4">
                                <div class="business-hours">
                                    <h2 class="title">Opening Hours</h2>
                                    <ul class="list-unstyled opening-hours">
                                        <li>Sunday <span class="pull-right">Closed</span></li>
                                        <li>Monday <span class="pull-right">Closed</span></li>
                                        <li>Tuesday <span class="pull-right">10:00-8:00pm</span></li>
                                        <li>Wednesday <span class="pull-right">10:00-6:00pm</span></li>
                                        <li>Thursday <span class="pull-right">10:00-8:00pm</span></li>
                                        <li>Friday <span class="pull-right">10:00-6:00pm</span></li>
                                        <li>Saturday <span class="pull-right">10:00-4:00pm</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-clean">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Glendora</h2>
                            <p class="text-center">coming Soon</p>
                        </div>
                    </div>
                    <div class="container demo-bg">
                        <div class="row">
                            <div class="col-sm-8">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.9205538251367!2d-118.16812588447334!3d33.968881429565336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2cfca540c0cf5%3A0xd0bafe12e51d41b8!2sCrepes%20n%20Shakes!5e0!3m2!1sen!2sus!4v1607544220047!5m2!1sen!2sus"
                                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                            <div class="col-sm-4">
                                <div class="business-hours">
                                    <h2 class="title">Opening Hours</h2>
                                    <ul class="list-unstyled opening-hours">
                                        <li>Sunday <span class="pull-right">Closed</span></li>
                                        <li>Monday <span class="pull-right">Closed</span></li>
                                        <li>Tuesday <span class="pull-right">10:00-8:00pm</span></li>
                                        <li>Wednesday <span class="pull-right">10:00-6:00pm</span></li>
                                        <li>Thursday <span class="pull-right">10:00-8:00pm</span></li>
                                        <li>Friday <span class="pull-right">10:00-6:00pm</span></li>
                                        <li>Saturday <span class="pull-right">10:00-4:00pm</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('../includes/end.ejs') %>